<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<ul>

<ul id="flashMessages">

</ul>
<h1>List of news</h1>
<ul>

</ul>
{% for new in news %}
    <form method="post" action="/news/delete">
        <li>{{ new.title }} - {{ new.description }}
            <button name="id" value="{{ new.id }}" type="submit">delete</button>
        </li>
    </form>
{% endfor %}

</ul>
</body>

<script src="https://learn.javascript.ru/article/cookie/cookie.js"></script>
<script>
    if (getCookie('success') !== undefined) {
        let flashMessages = document.getElementById('flashMessages');
        let successLable = document.createElement("h1");
        successLable.setAttribute("style", "color: green");
        successLable.appendChild(document.createTextNode("Success message"));
        flashMessages.appendChild(successLable);
        let newLi = document.createElement("li");
        newLi.setAttribute("style", "color: green");
        newLi.appendChild(document.createTextNode(getCookie('success')));
        flashMessages.appendChild(newLi);
        document.cookie = "success=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }

</script>
</html>

