<html>
<h1>Create new post</h1>

{% if errors %}
    <h2 style="color: red">Validation errors</h2>
{% endif %}
{% for error in errors %}
    {% for description in error %}
        <h3 style="color: red">{{ description }}</h3>
    {% endfor %}
{% endfor %}
<form method="post" action="/news/storeNews">
    <table>
        <tr>
            <td>Title:</td>
            <td><p><input name="title"></p></td>
        </tr>

        <tr>
            <td>Description:</td>
            <td><p><input name="description"></p></td>
        </tr>
    </table>
    <p><input type="submit" value="Create post"></p>
</form>
</html>